<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.tlasica.goalero"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.tlasica.habitoo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.tlasica.habitoo.NewGoalActivity"
            android:label="@string/newgoal_title" 
            android:exported="false"
            android:parentActivityName="pl.tlasica.habitoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.tlasica.habitoo.MainActivity" />
        </activity>
        <activity
                android:name="pl.tlasica.habitoo.HistoryViewActivity"
                android:label="History"/>
    </application>

</manifest>